<button type="button" (click)="createTask($event)">Создать задачу</button>
<table (click)="onTableClick()">
	<thead>
		<tr>
			<td>Исполнитель</td>
			<td *ngFor="let status of getStatuses()"><b>{{getStatusName(status)}}</b> {{getWorkloadByStatus(status)}}</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let user of getUsers()">
			<td><i>{{user.Name}}</i> {{getWorkloadByExecutor(user.Id)}}</td>
			<td *ngFor="let status of getStatuses()">
				<executor-tasks [tasks]="getTasks(user.Id, status)" (taskClick)="onSelectTask($event)"></executor-tasks>
			</td>
		</tr>
		<tr>
			<td><i>Неназначенные</i></td>
			<td *ngFor="let status of getStatuses()">
				<executor-tasks [tasks]="getTasks('null', status)" (taskClick)="onSelectTask($event)"></executor-tasks>
			</td>
		</tr>
	</tbody>
</table>
<task *ngIf="editingTask" [task]="editingTask" [users]="getUsers()" 
	[top]="taskDialogTop" [left]="taskDialogLeft" 
	(onTaskSubmitted)="onTaskSubmit($event)" 
	(onDelete)="onTaskDelete($event)"
	(onClose) = "onCloseTaskDialog()">
</task>