<form #form="ngForm" (ngSubmit)="onSubmit(form.value)" [ngStyle]="{'position': 'fixed', 'top': top+'px', 'left': left+'px'}">
	<div style="margin-bottom: 10px;">
		<button type="submit">Сохранить</button>
		<button [disabled]="isDeleteDisabled()" (click)="deleteClick()" type="button">Удалить</button>
		<button (click)="closeClick()" type="button" style="margin-left: 20px;">Отмена</button>
	</div>
	<table>
		<tr>
			<td><label for="">Название</label></td>
			<td><input type="text" name="Name" required maxlength="100" [ngModel]="task?.Name"></td>
		</tr>
		<tr>
			<td><label for="">Описание</label></td>
			<td><input type="text" name="Description" required maxlength="500" [ngModel]="task?.Description"></td>
		</tr>
		<tr>
			<td><label for="">Трудозатраты</label></td>
			<td><input type="number" name="Workload" min="1" max="128" [ngModel]="task?.Workload"></td>
		</tr>
		<tr>
			<td><label for="">Статус</label></td>
			<td>
				<select name="Status" required [ngModel]="task?.Status">
					<option value="1">New</option>
					<option value="2">InProgress</option>
					<option value="3">Done</option>
				</select>
			</td>
		</tr>
		<tr>
			<td><label for="">Исполнитель</label></td>
			<td>
				<select name="ExecutorId" [ngModel]="task?.ExecutorId">
					<option value=""></option>
					<option *ngFor="let user of users" [value]="user.Id" >{{user.Name}}</option>
				</select>
			</td>
		</tr>
	</table>
</form>